<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="ShoppingMall.domain.Status"		alias="Status"/>
		<typeAlias type="ShoppingMall.domain.Qna"			alias="Qna"/>
		<typeAlias type="ShoppingMall.domain.Return"		alias="Return"/>
		<typeAlias type="ShoppingMall.domain.Delivery"		alias="Delivery"/>
		<typeAlias type="ShoppingMall.domain.Member"		alias="Member"/>
		<typeAlias type="ShoppingMall.domain.OrderSummary"	alias="OrderSummary"/>
		
		<typeAlias type="ShoppingMall.domain.Product" 		alias="Product"/>
		<typeAlias type="ShoppingMall.domain.AgeRange" 		alias="AgeRange"/>
		<typeAlias type="ShoppingMall.domain.Difficulty" 	alias="Difficulty"/>
		<typeAlias type="ShoppingMall.domain.PlayerRange" 	alias="PlayerRange"/>
		<typeAlias type="ShoppingMall.domain.Theme" 		alias="Theme"/>
		<typeAlias type="ShoppingMall.domain.ProductSnapshot" alias="ProductSnapshot"/>

	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jndi/mysql" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="ShoppingMall/mybatis/StatusMapper.xml" />
		<mapper resource="ShoppingMall/mybatis/QnaMapper.xml" />
		<mapper resource="ShoppingMall/mybatis/ReturnMapper.xml" />
		<mapper resource="ShoppingMall/mybatis/DeliveryMapper.xml" />
		<mapper resource="ShoppingMall/mybatis/MemberMapper.xml" />
		<mapper resource="ShoppingMall/mybatis/OrderSummaryMapper.xml" />
		
		<mapper resource="ShoppingMall/mybatis/ProductMapper.xml" />
		<mapper resource="ShoppingMall/mybatis/AgeRangeMapper.xml" />
		<mapper resource="ShoppingMall/mybatis/DifficultyMapper.xml" />
		<mapper resource="ShoppingMall/mybatis/PlayerRangeMapper.xml" />
		<mapper resource="ShoppingMall/mybatis/ThemeMapper.xml" />
		<mapper resource="ShoppingMall/mybatis/ProductSnapshotMapper.xml" />
	</mappers>
</configuration>