<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="shoppingmall.domain.Status"					alias="Status"/>
		<typeAlias type="shoppingmall.domain.Qna"						alias="Qna"/>
		<typeAlias type="shoppingmall.domain.Returns"					alias="Returns"/>
		<typeAlias type="shoppingmall.domain.Delivery"					alias="Delivery"/>
		<typeAlias type="shoppingmall.domain.Member"				alias="Member"/>
		<typeAlias type="shoppingmall.domain.OrderSummary"	alias="OrderSummary"/>
		<typeAlias type="shoppingmall.domain.Cart"	alias="Cart"/>
		<typeAlias type="shoppingmall.domain.Product" 		alias="Product"/>
		<typeAlias type="shoppingmall.domain.AgeRange" 		alias="AgeRange"/>
		<typeAlias type="shoppingmall.domain.Difficulty" 	alias="Difficulty"/>
		<typeAlias type="shoppingmall.domain.PlayerRange" 	alias="PlayerRange"/>
		<typeAlias type="shoppingmall.domain.Theme" 		alias="Theme"/>
		<typeAlias type="shoppingmall.domain.ProductSnapshot" alias="ProductSnapshot"/>
		<typeAlias type="shoppingmall.domain.Review" alias="Review"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="JNDI">
				<property name="data_source"
					value="java:comp/env/jndi/mysql" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="shoppingmall/mybatis/StatusMapper.xml" />
		<mapper resource="shoppingmall/mybatis/QnaMapper.xml" />
		<mapper resource="shoppingmall/mybatis/ReturnsMapper.xml" />
		<mapper resource="shoppingmall/mybatis/DeliveryMapper.xml" />
		<mapper resource="shoppingmall/mybatis/MemberMapper.xml" />
		<mapper resource="shoppingmall/mybatis/OrderSummaryMapper.xml" />
		<mapper resource="shoppingmall/mybatis/CartMapper.xml" />	
		<mapper resource="shoppingmall/mybatis/ProductMapper.xml" />
		<mapper resource="shoppingmall/mybatis/AgeRangeMapper.xml" />
		<mapper resource="shoppingmall/mybatis/DifficultyMapper.xml" />
		<mapper resource="shoppingmall/mybatis/PlayerRangeMapper.xml" />
		<mapper resource="shoppingmall/mybatis/ThemeMapper.xml" />
		<mapper resource="shoppingmall/mybatis/ProductSnapshotMapper.xml" />
		<mapper resource="shoppingmall/mybatis/ReviewMapper.xml" />

	</mappers>
</configuration>