<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>shoppingmall</display-name>
  	
	<!-- 인코딩 필터 -->
  	<filter>
  		<filter-name>encodingFilter</filter-name>
  		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  		<init-param>
  			<param-name>encoding</param-name>
  			<param-value>UTF-8</param-value>
  		</init-param>
  	</filter>
  	<filter-mapping>
  		<filter-name>encodingFilter</filter-name>
  		<url-pattern>/*</url-pattern>
  	</filter-mapping>
	<!-- 어드민 로그인 필터 -->
	<filter>
		<filter-name>adminLoginFilter</filter-name>
		<filter-class>shoppingmall.util.AdminLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>adminLoginFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
  	
<!-- ApplicationContext가 메모리에 올라온 직후 초기화 시, 넘겨줄 파라미터 설정 -->
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>	
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>shoppingmall.config.RootConfig</param-value>
	</context-param>
	
	<!-- 서버가 가동될때를 감지하는 객체 등록 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>adminDispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>shoppingmall.config.AdminConfig</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminDispatcher</servlet-name>
		<url-pattern>/admin/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>userDispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>shoppingmall.config.UserConfig</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>userDispatcher</servlet-name>
		<url-pattern>/shop/*</url-pattern>
	</servlet-mapping>
</web-app>