<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AgeRange">
	
	<!-- 모두 가져오기 -->
	<select id="selectAll" resultType="AgeRange">
		select * from age_range
	</select>
	
	<!-- 한 건 가져오기 -->
	<select id="select" parameterType="int" resultType="AgeRange">
		select * from age_range where age_range_id = #{age_range_id} 
	</select>
	
	<!-- 한 건 추가하기 -->
	<insert id="insert" parameterType="AgeRange">
		insert into age_range(age_min) values(#{age_main})
	</insert>
	
	<!-- 한 건 수정하기 -->
	<update id="update" parameterType="AgeRange">
	 	update age_range set age_min=#{age_min} where age_range_id=#{age_range_id}
	</update>
	
	<!-- 한 건 삭제하기 -->
	<delete id="delete" parameterType="int">
		delete from age_range where age_range_id=#{age_range_id}
	</delete>
	
</mapper>